#quote-box {
  background: DarkGrey no-repeat center center;
  background-size: cover;
  margin: 0;
}

#quote-item {
  font-size: 32px;
  color: white;
  background: transparent;
}

#new-quote {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

#tweet-quote {
  position: absolute;
  left: 40px;
  bottom: 40px;
}
