.bg-image {
  display: block;
  position: absolute;
  object-fit: cover;
  margin: 0;
}

#quote-box {
  position: absolute;
  margin: 0;
}

#quote-item {
  font-size: 40px;
  color: white;
  background: transparent;
}

#new-quote {
  position: absolute;
  right: 40px;
  bottom: 40px;
  font-size: 24px;
  color: white;
}

#new-quote:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: black;
}

#new-quote:focus, #new-quote:active {
   outline: none !important;
   box-shadow: none;
}

#tweet-quote {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 48px;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: scaleX(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scaleX(1.1);
  transition: opacity 500ms, transform 500ms;
}
